.review__panel {
  padding: 5px 0;
  border-bottom: 1px solid #cacaca;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

  &__name {
    font-size: 1em;
  }

  &__date {
    font-size: 0.7em;
  }

  &__review {
    font-size: 0.9em;
    margin-top: 5px;
  }
}