.content__favorite__label {
  font-size: 2.2em;
  font-weight: lighter;
}

.content__favorite__label::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

.no-favorites {
  text-align: center;
  font-size: 1.8em;
}