@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import 'config';

/*
* Components
*/
@import './components/navbar';
@import './components/backdrop';
@import './components/footer';
@import './components/modal';
@import './components/reviewPanel';
@import './components/spinner';
@import './components/reviewForm';


/*
* Pages
*/

@import './pages/detail-restaurant';
@import './pages/favorite-restaurant';
@import './pages/landing';
@import './pages/error';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    font-family: $font;
    font-size: 12px;
    min-height: 100vh;
    flex-direction: column;
}

textarea {
    font-family: $font;
}

/*
 * main
 */

main {
    width: 100%;
    margin: 0 auto;
    flex: 1;
}

/*
 * content
 */

.content {
    padding: 7%;
}

/*
 * skip to content
 */

.skip-link {
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 19px;
    background-color: #a58faa;
    text-decoration: none;
    border-radius: 6px;
    border: 2px solid #ededd0;
    color: #fff;
    padding: 8px 20px;
    z-index: 100;
    min-height: 45px;
 }
  
 .skip-link:focus {
    top: 0;
 }


.success {
    background-color: #63dc63;
}

.fail {
    background-color: #d64c4c;
}


.favorite {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #486d6d;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 * Header
 *
 */

.header {
    transition: min-height 0.3s;
    background-color: $primary-color;
    color: #fbfbfa;

    &__main {
        display: flex;
        justify-content: space-between;
        position: sticky;
        max-width: 1200px;
        width: 100%;
        padding: 2px 15px;
        margin: 0 auto;
    }

    &__brand {
        margin-left: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        & img {
            max-width: 200px;
        }
    }
}

.header__menu {
    &__button {
        font-size: 36px;
        margin: 6px 10px;
        display: block;
        min-width: 45px;
        min-height: 45px;
        cursor: pointer;
        color: white;
        border: none;
        background-color: transparent;
    }
}

.content__posts {
  display: grid;
  grid-row-gap: 18px;
}

.form__group-cari {
  display: grid;
}

.remove-content-scrolling {
    overflow-y: hidden;
}


@media screen and (max-width : $tablet) {
    .header__brand img {
        width: 170px;
    }

    .rekomendasi__label {
        font-size: 1.8em;
      }
    .form__group-cari__button {
        margin: 0 auto;
    }

    .post-item__thumbnail {
        height: 180px;
    }
}

@media screen and (min-width: $mobile) {

    .content__posts {
        max-width: 330px;
    }

    .post-item__thumbnail {
        height: 180px;
    }
}

@media screen and (min-width: $tablet) {
    .header {
        padding: 4px 25px;
        
        &__menu {
            display: none;
        }

        &__navigation__sidenavClose {
            display: none;
        }
    }

    .hero {
        background-image: url("/assets/images/hero-image_2-tablet.jpg");
    }

    .hero__title {
        font-size: 38px;
    }

    .form__group-cari__button {
        margin: 10px;
        padding: 0 23px;
        font-size: 18px;
    }

    .form__group-cari {
        grid-template-columns: 5fr 0.5fr;
    }

    .post-item__thumbnail {
        height: 210px;
    }

    .content__posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 18px;
        max-width: 695px;
    }

    .post-item__information {
        margin: 0 0 10px 0;
    }

}


@media screen and (min-width: $desktop) {
    
    .header {
        padding: 6px 70px;
    }

    .hero {
        background-image: url("/assets/images/hero-image_2-desktop.jpg");
    }

    .hero__tagline {
        font-size: 24px;
        text-shadow: 2px 3px 0px #000000ab;
    }

    .content__posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1112px;
    }

    .post-item__information {
        margin: 0 0 15px 0;
    }

}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: url("/assets/images/hero-image_2-xl.jpg");
    }

    .content {
        max-width: 1200px;
    }
}